<main class="d-flex justify-content-center align-items-center vh-100">
    <form class="col-3">
        <div class="text-center mb-5">
            <p class="first-part-logo mb-0" style="font-size: 50px; line-height: 25px;">Lumincoin</p>
            <p class="second-part-logo" style="font-size: 12px;line-height: 15px;">FINANCE</p>
        </div>
        <div class="roboto text-center fs-1 fw-semibold text-primary-emphasis mb-3">Вход</div>
        <div>
            <div class="input-group mb-2">
                <div>
                    <div class="bg-body-secondary p-2 border rounded-start d-flex align-items-center justify-content-center icon">
                        <img class="align-baseline" src="../images/icon-mail.png" alt="Email">
                    </div>
                </div>
                <input type="email" id="email" class="form-control" placeholder="Электронная почта">
            </div>
            <div class="input-group mb-3">
                <div>
                    <div class="bg-body-secondary p-2 border rounded-start d-flex align-items-center justify-content-center icon">
                        <img class="align-baseline" src="../images/icon-lock.png" alt="Email">
                    </div>
                </div>
                <input type="password" id="password" class="form-control" placeholder="Пароль">
            </div>
            <div class="d-flex mb-3">
                <input type="checkbox" id="remember-me">
                <label for="remember-me" class="roboto ms-1" id="remember-me-label">Запомнить меня</label>
            </div>
            <button type="button" class="btn btn-primary text-white w-100 roboto mb-2" id="process" disabled>Войти</button>
            <div class="haveAccount">
                Ещё нет аккаунта? <a href="/#/signup">Пройдите регистрацию</a>
            </div>
        </div>
    </form>
</main>
